[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone